.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: okie;
  animation-duration: 5s;
}
.loader .left {
  animation-name: left;
  animation-duration: 4.5s;
}
.loader .right {
  animation-name: right;
  animation-duration: 4.5s;
}
@keyframes okie {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
    opacity: 100;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes left {
  0% {
    transform: translateX(-100px);
  }
  25% {
    transform: translateX(-50px);
  }
}
@keyframes right {
  0% {
    transform: translateX(100px);
  }
  25% {
    transform: translateX(50px);
  }
}
.loading {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .loader .left {
    height: 300px;
  }
  .loader .right {
    height: 300px;
  }
}
